

#header {
    background-image: url("../imagenes/fondo2.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}  

#tituloHeader {
    font-family: 'Comforter', cursive;
    font-size: 2em;
    font-weight: bolder;
}

.itemsNav {
    font-family: 'Fuzzy Bubbles', cursive;

}

.text-gray {
    color: #5D737E;
}

.bg-green {
    background-color: #DAFFEF;
} 

.bg-lightgreen {
    background-color: #DB7F8E;
}